/* https://github.com/orioncactus/pretendard/blob/article/dist/web/static/pretendard.css */
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard-dynamic-subset.min.css");

/* https://hangeul.naver.com/font */
@font-face {
    font-family: 'D2Coding';
    src:
		local('D2Coding'),
		url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumGothicCoding/D2Coding.woff) format("woff"),
		url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumGothicCoding/D2Coding.ttf) format("truetype");
	font-weight: normal;
	font-display: swap;
}
@font-face {
    font-family: 'D2Coding';
    src:
		local('D2Coding Bold')
		url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumGothicCoding/D2CodingBold.eot?#iefix) format("embedded-opentype"),
		url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumGothicCoding/D2CodingBold.woff) format("woff"),
		url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumGothicCoding/D2CodingBold.ttf) format("truetype");
	font-weight: bold;
	font-display: swap;
}
@font-face {
    font-family: '나눔스퀘어라운드';
    src:
		local('나눔스퀘어라운드 Regular'),
		local('나눔스퀘어라운드OTF Regular'),
		url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareRound/NanumSquareRoundR.eot?#iefix) format("embedded-opentype"),
		url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareRound/NanumSquareRoundR.woff2) format("woff2"),
		url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareRound/NanumSquareRoundR.woff) format("woff"),
		url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareRound/NanumSquareRoundR.ttf) format("truetype");
		font-weight: normal;
		font-display: swap;
}
@font-face {
    font-family: '나눔스퀘어라운드';
    src:
		local('나눔스퀘어라운드 Bold'),
		local('나눔스퀘어라운드OTF Bold'),
		url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareRound/NanumSquareRoundB.eot?#iefix) format("embedded-opentype"),
		url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareRound/NanumSquareRoundB.woff2) format("woff2"),
		url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareRound/NanumSquareRoundB.woff) format("woff"),
		url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareRound/NanumSquareRoundB.ttf) format("truetype");
	font-weight: bold;
	font-display: swap;
}

@font-feature-values 'Pretendard' {
	@styleset {
		default-styleset: 5 6 8;
	}
}

@import "tailwindcss";

@theme {
	--color-bg: light-dark(white, #202020);
	--color-fg: light-dark(black, white);
	--color-code-bg: light-dark(white, #24292e);
	--color-code-fg: light-dark(#24292e, #e1e4e8);
	--color-eatch-light: light-dark(#d5cafe, #564a7e);
	--color-eatch: #ab94fc;
	--color-eatch-dark: light-dark(#564a7e, #d5cafe);
	--color-link: light-dark(#0036c8, #91b0ff);
	--color-fn: light-dark(#c60, #fb6);
	--color-tn: light-dark(#d22, #f88);
	--color-ref: light-dark(#c0c, #f6f);
	--color-visited: light-dark(#4a587e, #cad9fe);
	--color-tag: light-dark(#c0ffff, #004040);
	/* --color-tag-special: light-dark(#f4f480, #808000); */
	--color-block-default: light-dark(#c0c0c0, #404040);
	--color-error: light-dark(#c00, #f66);
	--color-bsky: #0085ff;
	--font-prose: Pretendard, sans-serif;
	--font-title: 나눔스퀘어라운드, sans-serif;
	--font-code: D2Coding, monospace;
	--text-h1: 2.5rem;
	--text-h2: 2.5rem;
	--text-h3: 2.1rem;
	--text-h4: 1.8rem;
	--text-h5: 1.5rem;
	--text-h6: 1.2rem;
	--text-trans: 1.5rem;
	--text-meta: 0.8rem;
	--text-heading-hash: 0.8rem;
	--container-content: 45rem;
	--spacing-topbar: 6rem;
	--spacing-block: calc(3 * var(--spacing));
	--drop-shadow-logo: 0 0 2px light-dark(white, black);
	--animate-blink: blink 1s step-end infinite;

	@keyframes blink {
		0% {
			visibility: visible;
		}
		50% {
			visibility: hidden;
		}
	}
}

@layer base {
	:root {
		@apply
			scheme-light-dark
			text-fg bg-bg
			font-prose leading-normal break-keep
			motion-safe:scroll-smooth
			[--hover:0rem] [--shadow-enabled:1];
		font-variant: styleset(default-styleset);
	}
	body {
		@apply m-4 scroll-pt-topbar;
	}
	article, nav {
		@apply m-auto max-w-content px-block;
	}

	.astro-code {
		@apply
			block-element visual-block
			p-block
			dark:text-(--shiki-dark)! dark:bg-(--shiki-dark-bg)!;
		code {
			@apply m-0 p-0;
		}
		span {
			@apply dark:text-(--shiki-dark)! dark:bg-(--shiki-dark-bg)!;
		}
	}
	blockquote {
		@apply
			block-element visual-block
			border-l-4 border-eatch-dark dark:border-eatch
			bg-eatch-dark/10;
	}
	h1, h2, h3, h4, h5, h6 {
		@apply
			block-element
			-mx-block my-block
			font-title font-bold leading-none;
	}
	h1[id], h2[id], h3[id], h4[id], h5[id], h6[id] {
		@apply
			before:block
			before:font-prose before:text-heading-hash before:leading-loose
			before:text-fg/75;
	}
	h1 {
		@apply text-h1 text-eatch-dark;
	}
	h1[id] {
		@apply before:content-['#'/''];
	}
	h2 {
		@apply text-h2;
	}
	h2[id] {
		@apply before:content-['##'/''];
	}
	h3 {
		@apply text-h3;
	}
	h3[id] {
		@apply before:content-['###'/''];
	}
	h4 {
		@apply text-h4;
	}
	h4[id] {
		@apply before:content-['####'/''];
	}
	h5 {
		@apply text-h5;
	}
	h5[id] {
		@apply before:content-['#####'/''];
	}
	h6 {
		@apply text-h6;
	}
	h6[id] {
		@apply before:content-['######'/''];
	}
	hr {
		@apply
			my-10 mx-auto
			border-none
			w-4/5 h-px
			bg-fg/50;
	}
	article img, article video {
		@apply
			block-element visual-image
			max-w-full max-h-[max(16rem,80vh)]
			size-auto;
	}
	mjx-container[jax="SVG"][display="true"] {
		@apply block-element visual-math;
	}
	ol, ul {
		@apply block-element visual-list;
	}
	ol {
		@apply list-decimal;
	}
	ul {
		@apply list-disc;
	}
	p {
		@apply block-element visual-paragraph;
		li > & {
			@apply ml-0;
		}
	}
	summary {
		@apply
			block-element visual-paragraph
			list-item;
		details:not(:last-child) > & {
			@apply mb-0;
		}
	}
	svg {
		@apply inline;
	}
	table {
		@apply border-separate;
	}
	textarea {
		@apply
			block-element visual-block
			p-block border-none
			w-full min-h-20 h-40 resize-y
			code-text;
	}

	a {
		@apply
			underline hide-decoration
			text-link visited:text-visited;
	}
	button, input {
		@apply
			border border-current
			px-1
			text-[size:inherit] font-[inherit]
			text-current bg-transparent;
	}
	button {
		@apply pop-on-hover;
	}
	input {
		@apply user-invalid:border-error;
	}
	input:not[type="button"] {
		@apply w-20;
	}
	code, samp, var {
		@apply
			code-text
			mx-[0.05em] p-[0.15em];
	}
	var {
		@apply not-italic;
	}
	del {
		@apply opacity-75 hide-decoration;
	}
	kbd {
		@apply
			my-0 mx-[0.1rem]
			border
			py-[0.1rem] px-1
			font-code;
	}
}

@utility shadow-discrete {
	@apply shadow-[calc(var(--shadow-enabled)*(var(--spacing-block)+var(--hover)))_calc(var(--shadow-enabled)*(var(--spacing-block)+var(--hover)))_0_#ab94fc40];
}
@utility code-text {
	@apply
		font-code
		text-code-fg bg-code-bg;
}
@utility hide-decoration {
	@apply hover:decoration-transparent transition-decoration;
}
@utility show-decoration {
	@apply decoration-transparent hover:decoration-current transition-decoration;
}
@utility pop-on-hover {
	@apply hover:not-active:[--hover:calc(0.5*var(--spacing-block))] motion-safe:transform-[translateY(calc(-1*var(--hover)))];
}
@utility transition-decoration {
	@apply motion-safe:transition-colors motion-safe:duration-200 motion-safe:ease-in-out;
}

@utility block-element {
	@apply
		block
		[overflow-x:var(--suppress-overflow,auto)] [overflow-y:var(--suppress-overflow,clip)];
	& > * {
		@apply [--suppress-overflow:true];
	}
}
@utility visual-block {
	@apply
		mt-block mb-[calc(var(--spacing-block)+var(--shadow-enabled)*var(--spacing-block))] px-block
		bg-block-default shadow-discrete
		contain-content;
	& > * {
		@apply [--shadow-enabled:0] [--nested-list:initial];
	}
}
@utility visual-image {
	@apply mt-block mb-[calc(2*var(--spacing-block))] mx-auto shadow-discrete;
}
@utility visual-list {
	@apply -mx-block my-(--nested-list,var(--spacing-block)) pl-[calc(5*var(--spacing)+var(--spacing-block))] pr-block;
	& > * {
		@apply [--nested-list:true];
	}
	li > p + & {
		@apply -mt-block;
	}
}
@utility visual-math {
	@apply m-[calc(2*var(--spacing-block))];
}
@utility visual-paragraph {
	@apply my-block;
	li > &:first-child {
		@apply mt-0;
	}
	li > &:last-child {
		@apply mb-0;
	}
}