@import "tailwindcss";

@theme {
	--color-bg: light-dark(white, #202020);
	--color-fg: light-dark(black, white);
	--color-code-bg: light-dark(white, #24292e);
	--color-code-fg: light-dark(#24292e, #e1e4e8);
	--color-eatch-light: light-dark(#d5cafe, #564a7e);
	--color-eatch: #ab94fc;
	--color-eatch-dark: light-dark(#564a7e, #d5cafe);
	--color-link: light-dark(#0036c8, #91b0ff);
	--color-fn: light-dark(#c60, #fb6);
	--color-tn: light-dark(#d22, #f88);
	--color-ref: light-dark(#c0c, #f6f);
	--color-visited: light-dark(#4a587e, #cad9fe);
	--color-tag: light-dark(#c0ffff, #004040);
	/* --color-tag-special: light-dark(#f4f480, #808000); */
	--color-block-default: light-dark(#c0c0c0, #404040);
	--color-error: light-dark(#c00, #f66);
	--color-bsky: #0085ff;
	--font-prose: var(--font-pretendard), sans-serif;
	--font-title: var(--font-nanumsquareround), sans-serif;
	--font-code: var(--font-d2coding), monospace;
	--text-h1: 2.5rem;
	--text-h2: 2.5rem;
	--text-h3: 2.1rem;
	--text-h4: 1.8rem;
	--text-h5: 1.5rem;
	--text-h6: 1.2rem;
	--text-trans: 1.5rem;
	--text-meta: 0.8rem;
	--text-heading-hash: 0.8rem;
	--container-content: 45rem;
	--spacing-topbar: 6rem;
	--spacing-block-element: calc(3 * var(--spacing));
	--drop-shadow-logo: 0 0 2px light-dark(white, black);
	--animate-blink: blink 1s step-end infinite;

	@keyframes blink {
		0% {
			visibility: visible;
		}
		50% {
			visibility: hidden;
		}
	}
}

@layer base {
	:root {
		@apply
			scheme-light-dark
			text-fg bg-bg
			font-prose leading-normal break-keep
			scroll-pt-topbar
			motion-safe:scroll-smooth
			[--hover:0rem] [--shadow-enabled:1]
			[--z-topbar-bg:100] [--z-cover:101] [--z-topbar-fg:102];
	}
	body {
		@apply m-4;
	}
	article, nav {
		@apply m-auto max-w-content px-block-element;
	}

	.astro-code {
		@apply
			block-element visual-block
			p-block-element
			dark:text-(--shiki-dark)! dark:bg-(--shiki-dark-bg)!;
		code {
			@apply m-0 p-0;
		}
		span {
			@apply dark:text-(--shiki-dark)! dark:bg-(--shiki-dark-bg)!;
		}
	}
	blockquote {
		@apply
			block-element visual-block
			border-l-4 border-eatch-dark dark:border-eatch
			bg-eatch-dark/10;
	}
	h1, h2, h3, h4, h5, h6 {
		@apply
			block-element
			-mx-block-element my-block-element
			font-title font-bold leading-none;
	}
	h1[id], h2[id], h3[id], h4[id], h5[id], h6[id] {
		@apply
			before:block
			before:font-prose before:text-heading-hash before:leading-loose
			before:text-fg/75;
	}
	h1 {
		@apply text-h1 text-eatch-dark;
	}
	h1[id] {
		@apply before:content-['#'/''];
	}
	h2 {
		@apply text-h2;
	}
	h2[id] {
		@apply before:content-['##'/''];
	}
	h3 {
		@apply text-h3;
	}
	h3[id] {
		@apply before:content-['###'/''];
	}
	h4 {
		@apply text-h4;
	}
	h4[id] {
		@apply before:content-['####'/''];
	}
	h5 {
		@apply text-h5;
	}
	h5[id] {
		@apply before:content-['#####'/''];
	}
	h6 {
		@apply text-h6;
	}
	h6[id] {
		@apply before:content-['######'/''];
	}
	hr {
		@apply
			my-10 mx-auto
			border-none
			w-4/5 h-px
			bg-fg/50;
	}
	article img, article video {
		@apply
			block-element visual-image
			max-w-full max-h-[max(16rem,80vh)]
			size-auto;
	}
	mjx-container[jax="SVG"][display="true"] {
		@apply block-element visual-math;
	}
	ol, ul {
		@apply block-element visual-list;
	}
	ol {
		@apply list-decimal;
	}
	ul {
		@apply list-disc;
	}
	p {
		@apply block-element visual-paragraph;
		li > & {
			@apply ml-0;
		}
	}
	summary {
		@apply
			block-element visual-paragraph
			list-item;
		details:not(:last-child) > & {
			@apply mb-0;
		}
	}
	svg {
		@apply inline;
	}
	table {
		@apply border-separate;
	}
	textarea {
		@apply
			block-element visual-block
			p-block-element border-none
			w-full min-h-20 h-40 resize-y
			code-text;
	}

	a {
		@apply
			underline hide-decoration
			text-link visited:text-visited;
	}
	button, input {
		@apply
			border border-current
			px-1
			text-[size:inherit] font-[inherit]
			text-current bg-transparent;
	}
	button {
		@apply hover:not-active:bg-fg/10 transition-decoration;
	}
	input {
		@apply user-invalid:border-error;
	}
	input:not([type="button"]) {
		@apply w-20;
	}
	code, samp, var {
		@apply
			code-text
			mx-[0.05em] p-[0.15em];
	}
	var {
		@apply not-italic;
	}
	del {
		@apply opacity-75 hide-decoration;
	}
	kbd {
		@apply
			my-0 mx-[0.1rem]
			border
			py-[0.1rem] px-1
			font-code;
	}
}

@utility shadow-discrete {
	@apply shadow-[calc(var(--shadow-enabled)*(var(--spacing-block-element)+var(--hover)))_calc(var(--shadow-enabled)*(var(--spacing-block-element)+var(--hover)))_0_#ab94fc40];
}
@utility code-text {
	@apply
		font-code
		text-code-fg bg-code-bg;
}
@utility hide-decoration {
	@apply hover:decoration-transparent transition-decoration;
}
@utility show-decoration {
	@apply decoration-transparent hover:decoration-current transition-decoration;
}
@utility pop-on-hover {
	@apply hover:not-active:[--hover:calc(0.5*var(--spacing-block-element))] motion-safe:transform-[translateY(calc(-1*var(--hover)))];
}
@utility transition-decoration {
	@apply motion-safe:transition-colors motion-safe:duration-200 motion-safe:ease-in-out;
}

@utility block-element {
	@apply
		block
		[overflow-x:var(--suppress-overflow,auto)] [overflow-y:var(--suppress-overflow,clip)];
	& > * {
		@apply [--suppress-overflow:true];
	}
}
@utility visual-block {
	@apply
		mt-block-element mb-[calc(var(--spacing-block-element)+var(--shadow-enabled)*var(--spacing-block-element))] px-block-element
		bg-block-default shadow-discrete
		contain-content;
	& > * {
		@apply [--shadow-enabled:0] [--nested-list:initial];
	}
}
@utility visual-image {
	@apply mt-block-element mb-[calc(var(--spacing-block-element)+var(--shadow-enabled)*var(--spacing-block-element))] mx-auto shadow-discrete;
}
@utility visual-list {
	@apply -mx-block-element my-(--nested-list,var(--spacing-block-element)) pl-[calc(5*var(--spacing)+var(--spacing-block-element))] pr-block-element;
	& > * {
		@apply [--nested-list:true];
	}
	li > p + & {
		@apply -mt-block-element;
	}
}
@utility visual-math {
	@apply m-[calc(2*var(--spacing-block-element))];
}
@utility visual-paragraph {
	@apply my-block-element;
	li > &:first-child {
		@apply mt-0;
	}
	li > &:last-child {
		@apply mb-0;
	}
}