---
import { getCollection } from 'astro:content';
import Layout from '../layouts/Layout.astro';
import Logo from '../components/Logo.astro';
import PostCard from '../components/PostCard.astro';
import type { PostEntry } from '../registry/getPost';
import { getPost } from '../registry/getPost';

const
	collection = await getCollection('blog'),
	posts = await Promise.all(
		[...collection]
			.sort((l, r) => +r.data.published - +l.data.published)
			.map(x => getPost(x.id))
	) as PostEntry[];
---

<Layout>
	<main>
		<header class="mx-auto pt-32 max-w-45rem" role="banner">
			<Logo heading alt="Widestring" />
		</header>
		<article class="my-4">
			<p><strong><a href="https://eatchangmyeong.github.io/">구 블로그</a>를 Astro로 재작성하고 있습니다.</strong> 아직 옮기지 못한 글도 순차적으로 모두 가져올 예정입니다.</p>
		</article>
		<nav>
			{posts.map(post =>
				<PostCard {...post} href={`/${post.published!.getFullYear()}/${post.slug!}`} />
			)}
		</nav>
	</main>
</Layout>