---
import RemarkBase from './post/RemarkBase.astro';

import AI from '~icons/majesticons/sparkles-line';
import Direct from '~icons/majesticons/file-duplicate-line';
import Quote from '~icons/majesticons/tooltips-2-line';
import Material from '~icons/majesticons/image-line';
import Indirect from '~icons/majesticons/search-line';
import Impl from '~icons/majesticons/code-block-line';

export const Icon = {
	Direct,
	Quote,
	Material,
	Indirect,
	Impl,
};
---

<RemarkBase colorLight="#e8e0ff" colorDark="#280050">
	<Fragment slot="title"><AI /> <a class="-no-color text-unset" href="/genai">생성형 AI 투명성</a></Fragment>
	<p>이 글을 작성하는 데 생성형 AI를 다음과 같이 사용했습니다.</p>
	<slot />
	{Astro.slots.has('direct') &&
		<details>
			<summary><Direct /> <strong>직접 사용</strong></summary>
			<slot name="direct" />
		</details>
	}
	{Astro.slots.has('quote') &&
		<details>
			<summary><Quote /> <strong>인용</strong></summary>
			<slot name="quote" />
		</details>
	}
	{Astro.slots.has('material') &&
		<details>
			<summary><Material /> <strong>자료성 사용</strong></summary>
			<slot name="material" />
		</details>
	}
	{Astro.slots.has('indirect') &&
		<details>
			<summary><Indirect /> <strong>간접 사용</strong></summary>
			<slot name="indirect" />
		</details>
	}
	{Astro.slots.has('impl') &&
		<details>
			<summary><Impl /> <strong>구현</strong></summary>
			<slot name="impl" />
		</details>
	}
</RemarkBase>