<div class="fixed inset-x-0 top-0 p-4 h-16 bg-gradient-linear bg-gradient-[to_bottom,_#fff,_#ffffff80_80%,_transparent] @dark:bg-gradient-[to_bottom,_#202020,_#20202080_80%,_transparent] z-1 pointer-events-none">
	<span class="ml-18 align-middle line-height-16">
		<slot />
	</span>
</div>
<div class="fixed inset-x-0 top-0 p-4 whitespace-nowrap z-3 pointer-events-none">
	<a class="align-middle font-size-0 pointer-events-auto" href="/">
		<picture>
			<source srcset="https://eatch.dev/ei/_f" media="(prefers-color-scheme: dark)">
			<img class="align-middle w-16 h-16" src="https://eatch.dev/ei/_0" alt="메인 화면으로">
		</picture>
	</a>
</div>