---
import RemarkSimpleBase from './RemarkSimpleBase.astro';
---

<RemarkSimpleBase colorLight="#ffe8d0" colorDark="#503800">
	<p><span class="i-majesticons-alert-circle-line" role="none" /> 이 글의 인터랙티브 콘탠츠는 데스크톱 환경에 최적화되어 있으며, 모바일 환경에서 사용하기 어려울 수 있습니다.</p>
</RemarkSimpleBase>