---
import Noscript from './Noscript.astro';

type Props = {
	select?: boolean,
};
const { select = false } = Astro.props;
---

<div class:list={{
	'block-element': true,
	'-mx-block': true,
	'px-block': true,
	'select-none': !select,
}}>
	<Noscript>
		인터랙티브 콘텐츠를 이용하려면 JavaScript를 켜 주세요.
	</Noscript>
	<slot />
</div>