---
import RemarkSimpleBase from './RemarkSimpleBase.astro';
---

<noscript>
	<RemarkSimpleBase colorLight="#c0c0c0" colorDark="#404040">
		<p><span class="i-majesticons-puzzle-line" role="none" /> <slot /></p>
	</RemarkSimpleBase>
</noscript>