---
import RemarkSimpleBase from './RemarkSimpleBase.astro';

import Script from '~icons/majesticons/puzzle-line';
---

<noscript>
	<RemarkSimpleBase colorLight="#c0c0c0" colorDark="#404040">
		<p><Script /> <slot /></p>
	</RemarkSimpleBase>
</noscript>