---
import RemarkSimpleBase from './RemarkSimpleBase.astro';

import Info from '~icons/majesticons/information-circle-line';
---

<RemarkSimpleBase colorLight="#e0e0ff" colorDark="#000050">
	<p><Info /> <slot /></p>
</RemarkSimpleBase>