---
import RemarkSimpleBase from './RemarkSimpleBase.astro';
---

<RemarkSimpleBase colorLight="#e0e0ff" colorDark="#000050">
	<p><span class="i-majesticons-information-circle-line" role="none" /> <slot /></p>
</RemarkSimpleBase>