---
import TuringSpacetime from '@components/404/TuringSpacetime.js';
import type { PostEntry } from '../registry/getPost';
import Post from './Post.astro';

interface Props extends PostEntry {}
---

<Post {...Astro.props}>
	<slot />
	<div slot="after" id="turing-machine" class="relative -mx-4 mt-[100vh] w-[calc(100%+2rem)] overflow-x-clip bg-bg z-4">
		<div
			class="absolute size-full bg-fg z-1"
			style="mask: url(/res/404/turing_cell.svg) alpha top / 1rem 1rem;"
		/>
		<TuringSpacetime client:only="solid-js" />
	</div>
</Post>